* {
    font-family: monospace, serif;
    /*color: snow;*/
}

h1 {
    color: deeppink;
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.div {
    width: 70%;
    /*background-color: antiquewhite;*/
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}

.a1{
    color: olive;
    font-size: 20px;
}


#s1 {
    font-size: 15px;
    text-decoration: line-through;
}

.s > #s2 {
    color: red;
    font-size: 25px;
    font-weight: bold;
}

.muaHang > a {
    color: royalblue;
    font-size: 20px;
}

